*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:black;
    
}
li{
    list-style-type: none;
}
.headerlist a:hover{
    text-decoration: underline;
}
.fabrx{
    width:69.33px;
    height: 19.25px;
}
.headerlist {
    display: flex;
    gap:40px;
    font-size: 14px;
    line-height: 24px;
    color:black;
    font-family:'Open Sans', sans-serif;
}

.headericon {
    display: flex;
    gap:48px;
    height: 24px;
}

.headercontainer{
    
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding-top:32px;
    padding-bottom: 32px;
    gap:320px;
    
    
}
h3{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    width: 824px;
    height: 96px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
}
.secondlist{
    display:flex;
    list-style-type: none;
    gap:25.5px;
}
.ilkkisimicons{
    display:flex;
    gap:22px;
}
.yazar li{
    font-size:14px;
    line-height: 24px;
    font-family: 'Open Sans';
    color:#52647C;
}
.yazar{
    display: flex;
    gap:12px;
    align-items: center;
}
.ilkkisim {
    display: flex;
    gap:600px;
    justify-content: space-between;
    padding-bottom:15px;
    width:1110px;
}

.ilkkisimfull{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:80px;
    gap:40px;
}
.cizgi{
    border:1px solid #EAEAEA;
    width: 1110px;
    
}
.cizgiyidahilet{
    padding-bottom: 24px;
}

.anacontainerbir img{
    
    width: 1110px;
    height: 624px;
    
}
.paragraf{
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    width: 1112px;
    height: 336px;
    padding-top: 24px;
}
.anacontainerbir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragrafiki h6{
    font-size: 20px;
    line-height: 30px;
    font-family:'Montserrat', sans-serif;
}
.paragrafici{
    font-size:16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
}
.paragrafiki{
    width:546px;
    height: 90px;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.anacontaineriki img{
    width:540px;
    height: 387px;
}
.anacontaineriki{
    display: flex;
    justify-content: center;
    gap:24px;
    padding-top:80px;
    padding-bottom: 80px;
}
.anacontaineruc h4{
    width:860px;
    height: 111px;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.35px;
    font-family: 'Montserrat', sans-serif;
}
.anacontaineruc h6{
    width:140px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    
}
.anacontaineruc{
    width:1110px;
    height: 347px;
    background-color: rgb(230, 241, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    border-radius: 8px;
    gap:16px;

}
.anacontainerdort{
    display: flex;
    flex-direction: row-reverse;
}
.anacontainerdort img{
    border-radius: 8px;
}
.anacontainerbes img{
    width:1110px;
    height: 624px;
    padding-bottom: 48px;
}
.anacontainerbes h4{
    width:194px;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.35px;
    font-family: 'Montserrat', sans-serif;
}
.baslikandvideo{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.anacontainerbes{
    display: flex;
    justify-content: center;
}

.containerbaslik{
    width:290px;
    height: 48px;
    font-size: 32px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
}

.anacontaineralti img{
    width: 322px;
    height: 235px;
    border-radius: 7px;
}
.containerliste h6{
    width: 322px;
    height: 30px;
    font-size:20px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 16px;
}
.containerliste div{
    width:322px;
    height: 72px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color:#52647C;
}
.containerliste{
    display: flex;
    justify-content: center;
    gap:24px;
}
.containerliste li{
    border:1px solid #fffdfd;
    border-radius: 6px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    background-color: white;
}

.youmayalsoandimages{
    display: flex;
    flex-direction: column;
}
.anacontaineralti{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.columnlists{
    display: flex;
    gap:24px;
}
.columnlist{
    width:165px;
    display: flex;
    flex-direction: column;
    gap:8px;
    padding-bottom: 70px;
}

.columnlist li{
    font-size:14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color:#807E7E;
}
#First{
    color:black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
#Second{
    color:black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
#Third{
    color:black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
#Fourth{
    color:black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.nevermiss{
    width:369.2px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}
#beyazkutu{
    width:291px;
    height: 40px;
    padding-left:15px;
}
#buton{
    width:60px;
    height:43px;
}
.kutu{
    display:flex;
}
.ikilikutu{
    display: flex;
    flex-direction:column;
    gap:25px;
    height: 98px;
}
.footer{
    display:flex;
    justify-content:center;
    padding-top:72px;
    
    border:1px solid #EAEAEA;
}
.logo{
    width:19px;
    height: 19px;
}
.tarih{
    width: 90px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color:#d3cfcf;
    
    
}
.social{
    width: 216px;
    height: 24px;
    
}
.footerdevam{
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:380px;
    
}





