* {
  margin: 0;
  padding: 0;
}
body {
  width: 1110px;
  padding-inline: 20px;
  margin: auto;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
.headerlist a:hover {
  text-decoration: underline;
}
.fabrx {
  width: 69.33px;
  height: 19.25px;
}
.headerlist {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  gap: 50px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.headericon {
  display: flex;
  gap: 30px;
  align-items: center;
  cursor: pointer;
}

.headercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  width: 1110px;
  padding-inline: 20px;
}
h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.4px;
  padding-right: 55px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 40px;
}
.secondlist {
  display: flex;
  list-style-type: none;
  gap: 25.5px;
}
.ilkkisimicons {
  display: flex;
  gap: 22px;
}
.yazar li {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans';
  color: #52647c;
}
.yazar {
  display: flex;
  gap: 12px;
  align-items: center;
}
.ilkkisim {
  display: flex;

  justify-content: space-between;
  padding-bottom: 15px;
}

.ilkkisimfull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  gap: 40px;
}
.cizgi {
  border: 1px solid #eaeaea;
}
.cizgiyidahilet {
  padding-bottom: 24px;
}

.paragraf {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 24px;
}
.anacontainerbir {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paragrafiki h6 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
}
.paragrafici {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
}
.paragrafiki {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.anacontaineriki img {
  width: 540px;
  height: 387px;
}
.anacontaineriki {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.anacontaineruc h4 {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.35px;
  font-family: 'Montserrat', sans-serif;
}
.anacontaineruc h6 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
}
.anacontaineruc {
  background-color: rgb(230, 241, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 8px;
  gap: 16px;
}
.anacontainerdort {
  display: flex;
  flex-direction: row-reverse;
}
.anacontainerdort img {
  border-radius: 8px;
}
.anacontainerbes img {
  padding-bottom: 48px;
}
.anacontainerbes h4 {
  line-height: 37px;
  letter-spacing: -0.35px;
  font-family: 'Montserrat', sans-serif;
}
.baslikandvideo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.containerbaslik {
  font-size: 32px;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
}

.anacontaineralti img {
  border-radius: 7px;
}
.containerliste h6 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 16px;
}
.containerliste div {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #52647c;
}
.containerliste {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.containerliste li {
  border: 1px solid #fffdfd;
  border-radius: 6px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  background-color: white;
}

.youmayalsoandimages {
  display: flex;
  flex-direction: column;
}
.anacontaineralti {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.columnlists {
  display: flex;
  gap: 24px;
}
.columnlist {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 70px;
}

.columnlist li {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #807e7e;
}
#First {
  color: black;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
#Second {
  color: black;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
#Third {
  color: black;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
#Fourth {
  color: black;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.nevermiss {
  width: 369.2px;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}
#beyazkutu {
  width: 291px;
  height: 40px;
  padding-left: 15px;
}
#buton {
  width: 60px;
  height: 43px;
}
.kutu {
  display: flex;
}
.ikilikutu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-self: flex-end;
  height: 98px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 5%;
  padding-top: 72px;
  border: 1px solid #eaeaea;
}
.logo {
  width: 19px;
  height: 19px;
}
.tarih {
  width: 90px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #d3cfcf;
}

.footerdevam {
  padding-block: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 380px;
}
